<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Покупатели</title>
</head>
<body>
<table border="1px solid">
    <caption>Все покупатели</caption>
    <tr>
        <th>Имя</th>
        <th>Телефон</th>
        <th>Почта</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <td>Наталия</td>
        <td>8-999-444-11-22</td>
        <td>natalia@mail.ru</td>
        <td><a href="/">Редактировать</a></td>
        <td><a href="/">Добавить заказ</a></td>
        <td><a href="/">Посмотреть заказы</a></td>
    </tr>
    <tr>
        <td>Петр</td>
        <td>8-777-444-11-22</td>
        <td>petr@mail.ru</td>
        <td><a href="/">Редактировать</a></td>
        <td><a href="/">Добавить заказ</a></td>
        <td><a href="/">Посмотреть заказы</a></td>
    </tr>
    <tr>
        <td>Иван</td>
        <td>8-222-444-11-22</td>
        <td>ivan@mail.ru</td>
        <td><a href="/">Редактировать</a></td>
        <td><a href="/">Добавить заказ</a></td>
        <td><a href="/">Посмотреть заказы</a></td>
    </tr>
</table>

<a href="/">На главную</a>

</body>
</html>