<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Детали заказа</title>
</head>
<body>
<table border="1px solid">
    <caption>Состав заказа</caption>
    <tr>
        <th>Наименование</th>
        <th>Ссылка</th>
        <th>Цена</th>
        <th></th>
    </tr>
    <tr>
        <td>Кукла Moci</td>
        <td><a href="/">ссылка</a></td>
        <td>5 000,00</td>
        <td><a href="/">Редактировать</a></td>
    </tr>
    <tr>
        <td>Рубашка</td>
        <td><a href="/">ссылка</a></td>
        <td>5 000,00</td>
        <td><a href="/">Редактировать</a></td>
    </tr>
    <tr>
        <td>Штаны</td>
        <td><a href="/">ссылка</a></td>
        <td>5 000,00</td>
        <td><a href="/">Редактировать</a></td>
    </tr>
</table>

<a href="/">На главную</a>

</body>
</html>